<template>
    <div>
        <v-data-table
            :headers="headers"
            :items="items"
            :loading="loading"
            single-expand
            item-key="id"
            :items-per-page.sync='sizePerPage'
            :server-items-length='serverItemsLength'
            :page.sync="currentPage"
        >
            <template v-slot:item.date="{ item }">
                {{formatDate(item.date)}}
            </template>
        </v-data-table>
    </div>
</template>
<script lang="ts">
import {format, parseISO} from 'date-fns';

export default {
    props: {
        loading: {
            type: Boolean,
        },
        items: {
            default() {
                return [];
            },
        },
        pageSize: {
            type   : Number,
            default: 10,
        },
        page: {
            type   : Number,
            default: 1,
        },
        serverItemsLength: {
            type   : Number,
            default: 0,
        },
        headers: {
            default() {
                return [
                    {
                        text    : 'Date',
                        value   : 'date',
                        sortable: false,
                    },
                    {
                        text    : 'Commissions - Total',
                        value   : 'totalComm',
                        sortable: false,
                    },
                    {
                        text    : 'Sales - Net',
                        value   : 'netSaleCount',
                        sortable: false,
                    },
                    {
                        text    : 'Leads - Net',
                        value   : 'netLeadCount',
                        sortable: false,
                    },
                    {
                        text    : 'Clicks',
                        value   : 'clickCount',
                        sortable: false,
                    },
                    {
                        text    : 'EPC',
                        value   : 'EPC',
                        sortable: false,
                    },
                    {
                        text    : 'Impressions',
                        value   : 'impCount',
                        sortable: false,
                    },
                    {
                        text    : 'CR',
                        value   : 'CR',
                        sortable: false,
                    },
                    {
                        text    : 'Bonuses',
                        value   : 'bonusCount',
                        sortable: false,
                    },
                    {
                        text    : 'Comm Clicks',
                        value   : 'commClickCount',
                        sortable: false,
                    },
                    {
                        text    : 'Commissions - Approved',
                        value   : 'apprComm',
                        sortable: false,
                    },
                    {
                        text    : 'Commissions - Bonus',
                        value   : 'bonusComm',
                        sortable: false,
                    },
                    {
                        text    : 'Commissions - Disputed',
                        value   : 'dispComm',
                        sortable: false,
                    },
                    {
                        text    : 'Commissions - Gross',
                        value   : 'grossComm',
                        sortable: false,
                    },
                    {
                        text    : 'Commissions - Net',
                        value   : 'netComm',
                        sortable: false,
                    },
                    {
                        text    : 'Commissions - Pending',
                        value   : 'pendComm',
                        sortable: false,
                    },
                    {
                        text    : 'Leads - Approved',
                        value   : 'apprLeadCount',
                        sortable: false,
                    },
                    {
                        text    : 'Leads - Disputed',
                        value   : 'dispLeadCount',
                        sortable: false,
                    },
                    {
                        text    : 'Leads - Gross',
                        value   : 'grossLeadCount',
                        sortable: false,
                    },
                    {
                        text    : 'Leads - Pending',
                        value   : 'pendLeadCount',
                        sortable: false,
                    },
                    {
                        text    : 'Sale Amount - Approved',
                        value   : 'apprSaleAmount',
                        sortable: false,
                    },
                    {
                        text    : 'Sale Amount - Disputed',
                        value   : 'dispSaleAmount',
                        sortable: false,
                    },
                    {
                        text    : 'Sale Amount - Gross',
                        value   : 'grossSaleAmount',
                        sortable: false,
                    },
                    {
                        text    : 'Sale Amount - Net',
                        value   : 'netSaleAmount',
                        sortable: false,
                    },
                    {
                        text    : 'Sale Amount - Pending',
                        value   : 'pendSaleAmount',
                        sortable: false,
                    },
                    {
                        text    : 'Sales - Approved',
                        value   : 'apprSaleCount',
                        sortable: false,
                    },
                    {
                        text    : 'Sales - Disputed',
                        value   : 'dispSaleCount',
                        sortable: false,
                    },
                    {
                        text    : 'Sales - Gross',
                        value   : 'grossSaleCount',
                        sortable: false,
                    },
                    {
                        text    : 'Sales - Pending',
                        value   : 'pendSaleCount',
                        sortable: false,
                    }
                ];
            },
        },
    },
    computed: {
        sizePerPage: {
            set(val) {
                this.$emit('pageSizeChange', val);
            },
            get() {
                return this.pageSize;
            },
        },
        currentPage: {
            set(val) {
                this.$emit('pageChange', val);
            },
            get() {
                return this.page;
            },
        },

    },
    methods: {
        formatDate(date) {
            return format(parseISO(date), 'MMMM/dd/yyyy');
        },
    },
			
};
</script>
