<template>
    <v-app>
        <template>
            <v-navigation-drawer
                :disable-resize-watcher="true"
                :fixed="true"
                :hide-overlay="true"
                :mini-variant="isMini"
                :mobile-breakpoint="0"
                :floating="false"
                :clipped="true"
                app
            >
                <MenuMain :items="menuItems"/>
            </v-navigation-drawer>
            <v-app-bar :clipped-left="true" app color="#5744D6"
                       dark>
                <v-toolbar-title class="pointer">
                    <v-app-bar-nav-icon
                        v-if="$vuetify.breakpoint.mdAndUp"
                        @click.stop="mini = !mini"
                    />
                    <router-link to="/" tag="span"> </router-link>
                </v-toolbar-title>
                <v-spacer/>
       
                <v-toolbar-title class="pointer">
                </v-toolbar-title>
            </v-app-bar>
        </template>
        <v-main>
            <router-view/>
        </v-main>
    </v-app>
</template>

<script>
import {routes}               from '@/router';
import MenuMain               from '@components/menuDrawer/menuMain.vue';

export default {
    components: {
        MenuMain,
    },
    data() {
        return {
            mini: false,
        };
    },
    computed: {
        isMini() {
            return this.mini || !this.$vuetify.breakpoint.mdAndUp;
        },
        menuItems() {
            return this.filterMenu(routes);
        },
    },
    methods: {
        // very simple implementation of menu-from-router
        // should include filtering based on user's permissions
        filterMenu(arr) {
            return arr
                .filter(
                    route => route
                  && route.meta
                  && typeof route.meta === 'object'
                  && route.meta.menuName
                )
                .map(route => {
                    route.meta.isMenu    = route.children && route.children.length > 0;
                    route.meta.path      = route.meta.menuPath || route.path;
                    route.meta.routeName = route.name;
                    if (route.meta.isMenu) { 
                        route.children = this.filterMenu(route.children); 
                    }          
                    return route.meta;
                });
        },
    },
};
</script>

<style lang="scss">
.v-data-footer__select {
  flex-basis: auto;

  .v-select {
    flex-basis: 50px;

    .v-select__selections {
      flex-basis: auto;
    }
  }

  .v-select__selection {
    max-width: 100%;
  }
}

.v-list-item__content {
  flex: 1 1 auto;
  min-width: 40px;
}
</style>
