<template>
    <v-container fluid>
        <v-btn @click="parseMetricsHandler">Parse metrics</v-btn>
        <MetricsTable 
            :loading="loading"
            :items="list" 
            :serverItemsLength="pagination_totalCount"
            :page="pagination_page"
            @pageSizeChange='pageSizeChangeHandler($event)' 
            @pageChange='pageChangeHandler($event)
            '/>
    </v-container fluid>
</template>

<script lang='ts'>
import { mapModels }                                                    from '@/plugins/map-models';
import MetricsTable                                                     from '@entities/Metrics/tables/MetricsTable.vue';
import { mapActions, mapState }                                         from 'vuex';

import { metricsStorePath, metricsStoreModels  }                        from '../store/metrics.store';

export default {
    components: {
        MetricsTable,
    },
    data() {
        return {
            loading: false,
        };
    },
    computed: {
        ...mapState(metricsStorePath, ['list']),
        ...mapModels(metricsStorePath, metricsStoreModels, ['pagination_size', 'pagination_page', 'pagination_totalCount']),
    },
    async created() {
        this.toggleLoading();
        this.pagination_page = 1;
        this.pagination_size = 10;
        await this.getMetricsList();
        this.toggleLoading();
    },
    methods: {
        ...mapActions(metricsStorePath, ['getMetricsList', 'parseMetrics']),
        // this should use axios interceptor 
        toggleLoading() {
            this.loading = !this.loading;
        },
        async parseMetricsHandler() {
            this.toggleLoading();
            await this.parseMetrics();
            await this.getMetricsList();
            this.toggleLoading();
        },
        
        async pageSizeChangeHandler(size) {
            this.pagination_size = size;
            await this.getMetricsList();
        },
        async pageChangeHandler(pageNum) {
            this.pagination_page = pageNum;
            await this.getMetricsList();
        },
    },
};
</script>
