<template >

    <v-list-group class="pa-0 ma-0" data="true">
        <template v-slot:activator>
			
            <v-list-item class="pa-0 ma-0" exact>
                <v-list-item-action>
                    <v-icon>{{item.icon}}</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>{{item.menuName}}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </template>
        <v-list-item v-for="(child,index) in item.children" :key="index" class="pl-8"
                     :to="child" :link='false' act>
            <v-list-item-action>
                <v-icon>{{child.icon}}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
                <v-list-item-title>{{child.menuName}}</v-list-item-title>
            </v-list-item-content>
        </v-list-item>
    </v-list-group>
</template>

<script>
export default {
    props: ['item'],
};
</script>