<template>
    <v-list-item color="primary" :to='{name: item.routeName}'>
        <v-list-item-action>
            <v-icon>{{item.icon}} </v-icon>
        </v-list-item-action>
        <v-list-item-content>
            <v-list-item-title> {{item.menuName}}</v-list-item-title>
        </v-list-item-content>
    </v-list-item>
</template>

<script>
export default {
    props  : ['item'],
    methods: {
        isSubMenu(item) {
            return item.isSubMenu;
        },
        goto(item) {
            this.$router.push({name : item.routeName});
        },
    },
};
</script>