<template>
    <v-list dense >
        <div v-for='(item, idx) in items' :key="idx">
            <MenuItem v-if='!item.isMenu' :item='item'/> 
            <MenuGroup v-else :item='item'/>
        </div>
    </v-list>

</template>

<script>
import MenuGroup from '@components/menuDrawer/menuGroup.vue';
import MenuItem  from '@components/menuDrawer/menuItem.vue';

export default {
    components: {
        MenuItem,
        MenuGroup,
    },
    props: [
        'items'
    ],

};
</script>