<template>
    <v-container fluid>
        <Dashboard/>
    </v-container>
</template> 

<script>
import Dashboard      from '@entities/Dashboard/Dashboard.vue';

export default {
    name      : 'App',
    components: {Dashboard},
};
</script>

