<template>
    <div>
        <UsersTable 
            :loading="loading"
            :items="list" 
            :serverItemsLength="pagination_totalCount"
            :page="pagination_page"
            @pageSizeChange='pageSizeChangeHandler($event)' 
            @pageChange='pageChangeHandler($event)
            '/>
    </div>
</template>

<script lang='ts'>
import { mapModels }                                             from '@/plugins/map-models';
import UsersTable                                                from '@entities/Users/tables/UsersTable.vue';
import { mapActions, mapState }                                  from 'vuex';

import { usersStoreModels, usersStorePath }                      from '../store/users.store';

export default {
    components: {
        UsersTable,
    },
    data() {
        return {
            loading: false,
        };
    },
    computed: {
        ...mapState(usersStorePath, ['list']),
        ...mapModels(usersStorePath, usersStoreModels, ['pagination_size', 'pagination_page', 'pagination_totalCount']),
    },
    async created() {
        this.toggleLoading();
        await this.preloadUsers();
        this.pagination_page = 1;
        this.pagination_size = 10;
        await this.getUsersList();
        this.toggleLoading();
    },
    methods: {
        ...mapActions(usersStorePath, ['preloadUsers', 'getUsersList']),
        // this should use axios interceptor via event bus
        toggleLoading() {
            this.loading = !this.loading;
        },
        async pageSizeChangeHandler(size) {
            this.pagination_size = size;
            await this.getUsersList();
        },
        async pageChangeHandler(pageNum) {
            this.pagination_page = pageNum;
            await this.getUsersList();
        },
    },
};
</script>
