<template>
    <div>
        <v-data-table
            :headers="headers"
            :items="items"
            :loading="loading"
            single-expand
            item-key="id"
            :items-per-page.sync='sizePerPage'
            :server-items-length='serverItemsLength'
            :page.sync="currentPage"
        >
            <template v-slot:item.avatar="{ item }">
                <v-img
                    max-height="100"
                    max-width="100"
                    :src=item.avatar
                ></v-img>
            </template>
        </v-data-table>
    </div>
</template>
<script lang="ts">

export default {
    props: {
        loading: {
            type: Boolean,
        },
        items: {
            default() {
                return [];
            },
        },
        pageSize: {
            type   : Number,
            default: 10,
        },
        page: {
            type   : Number,
            default: 1,
        },
        serverItemsLength: {
            type   : Number,
            default: 0,
        },
        headers: {
            default() {
                // sortable is false, because in case of 
                // server pagination it also should be handled
                // on the server

                return [
                    {
                        text    : 'Avatar',
                        value   : 'avatar',
                        sortable: false,
                    },
                    {
                        text    : 'Id',
                        value   : 'id',
                        sortable: false,
                    },
                    {
                        text    : 'First name',
                        value   : 'firstName',
                        sortable: false,
                    },
                    {
                        text    : 'Last name',
                        value   : 'lastName',
                        sortable: false,
                    },
                    {
                        text    : 'Email',
                        value   : 'email',
                        sortable: false,
                    }
        
                ];
            },
        },
    },
    computed: {
        sizePerPage: {
            set(val) {
                this.$emit('pageSizeChange', val);
            },
            get() {
                return this.pageSize;
            },
        },
        currentPage: {
            set(val) {
                this.$emit('pageChange', val);
            },
            get() {
                return this.page;
            },
        },
    },
			
};
</script>
