<template>
    <v-container>
        <v-row no-gutters>
            <v-col cols="12">
                <h1>Welcome to admin panel</h1>
            </v-col>
        </v-row>
    </v-container>
</template>

